[submodule "legacy_app"]
	path = legacy_app
	url = https://github.com/bedopedia/bedopedia
	branch = prod
[submodule "next_app"]
	path = next_app
	url = https://github.com/bedopedia/skolera_be
	branch = local-dockerization
[submodule "skolera-angular"]
	path = skolera-angular
	url = https://github.com/bedopedia/skolera-angular.git
	branch = prod
